body {
  color: blue;
  font-size: 20px;
  background-color: aqua;
  font-family: "Nunito Sans", sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  min-height: 400px;
}

.cards {
  background-color: white;
  margin: 10px;
  padding: 5px;
  width: 350px;
  min-height: 300px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}
